<script lang="ts">
    import {params} from '@roxi/routify'
    import ActorCard from "../../../components/ActorCard.svelte";
    import {getActor} from "../../../api/actors";
    import {getActorId} from "../../../common/actorUrl";
    import {siteinfo} from "../../../stores/siteinfostore";
    import {SITE_AP_PERSON_BASE_URL} from "../../../api/siteInfo";

    $: actorId = $params.person

    let actorInfoPromise = getActor(getActorId($params.person, $siteinfo[SITE_AP_PERSON_BASE_URL]))

</script>

<style>

    .personPage {
        display: flex;
        flex-direction: column;
        width: inherit;
    }

    .pageContent {
        display: flex;
        flex-direction: row;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
    }

    .banner {
        height: 150px;
        width: inherit;
    }

    .personInfo {
        margin-top: -75px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: inherit;
    }

    .personData {
        border-radius: .20em;
        border: var(--theme-primary-color);
        border-width: thin;
        border-style: solid;
        background-color: var(--theme-background-color);
        max-width: 355px;
        width: 355px;
    }

    .personDataText {
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        padding: .25em;
    }

    .infoText {
        color: var(--theme-info-color);
        font-size: small;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .dataText {
        margin-bottom: .25em;
        font-size: small;
    }

    @media screen and (orientation: portrait), (max-width: 1100px) {
        .banner {
            height: 75px;
            width: inherit;
        }

        .personInfo {
            margin-top: 0px;
        }

        .personData {
            margin-top: .25em;
            margin-bottom: .25em;
        }

        .personInfo {
            margin-top: .25em;
        }
    }

</style>

<div class="personPage" >

    {#await actorInfoPromise}
        <p>Loading person {actorId}</p>
    {:then promisedActor}
        <div class="header">
            <div class="banner" style="background-image: url('{promisedActor.activityPubJson.image.url}')">
            </div>
            <div class="personInfo">
                <ActorCard actorInfo={promisedActor} extendedSummary="true"/>
                <div class="personData">
                    <div class="personDataText">
                        <span class="infoText">ActivityPub ID</span>
                        <span class="dataText">{promisedActor.activityPubJson.id}</span>
                        <span class="infoText">Created</span>
                        <span class="dataText">{new Date(promisedActor.createdAt).toLocaleString()}</span>
                        <span class="infoText">Follows</span>
                        <span class="dataText">129</span>
                        <span class="infoText">Followers</span>
                        <span class="dataText">19</span>
                        <span class="infoText">Posts</span>
                        <span class="dataText">193992</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pageContent"></div>
    {:catch error}
        <p>error fetching person: {error}</p>
    {/await}

</div>