<script lang="ts">
    import {goto} from "@roxi/routify";
    import {userinfo} from "../../stores/userinfostore";
</script>

<style>

</style>

{#if $userinfo}
    <slot/>
{:else}
    {$goto("/login")}
{/if}