<script lang="ts">
    import NormalPanel from "../../components/NormalPanel.svelte";
    import {
        getPersona,
        Persona,
        setAsDefaultActor,
        setPersonaNameSummary,
        setPersonaVisibility
    } from "../../api/personas";
    import {params} from '@roxi/routify';
    import {goto} from "@roxi/routify";
    import ActorIconUpload from "../../components/ActorIconUpload.svelte";
    import ActorBannerUpload from "../../components/ActorBannerUpload.svelte";
    import ResponsiveText from "../../components/ResponsiveText.svelte";
    import ResponsiveDate from "../../components/ResponsiveDate.svelte";
    import marked from "marked"

    let personaPromise = getPersona($params.persona)
    let visibility = "Visible"
    let name: string = ""
    let summary: string = ""
    let saveNameSummaryDisabled = true

    function splitPublicKey(p: Persona): string[] {
        return p.activityPubJson.publicKey.publicKeyPem.split("\n")
    }

    function handleSetVisibility() {
        let promise = setPersonaVisibility($params.persona, visibility)
        promise.then(result => {
            $goto("/acct")
        })
    }

    function setVisibilitySelection(persona: Persona) {
        visibility = persona.visibility
    }

    function handleSetDefault() {
        let promise = setAsDefaultActor($params.persona)
        promise.then(result => {
            $goto("/acct")
        })
    }

    function handleSetNameSummary() {
        let promise = setPersonaNameSummary($params.persona, name, marked(summary))
        promise.then(result => {
            $goto("/acct")
        })
    }

    function setNameSummaryFields(persona: Persona) {
        name = persona.activityPubJson.name
        summary = persona.activityPubJson.summary
    }

    function onNameSummaryChange() {
        saveNameSummaryDisabled = ( !name || name.length < 0 || !summary || summary.length < 0)
    }

</script>

<style>

    editPersona {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
        flex-wrap: wrap;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .button_group {
        margin-top: .5em;
        margin-bottom: .5em;
        white-space: nowrap;
    }

    .form_text {
        margin-top: .5em;
        margin-bottom: .5em;
        white-space: nowrap;
    }

    .panel_container {
        margin: 1em;
    }

    .information_form label {
        margin-top: .5em;
    }

    .information_form button {
        margin-top: .5em;
    }

    .table_data_type {
        border-right-style: dashed;
        border-right-width: thin;
        padding-right: 1em;
    }

    .table_data_value {
        padding-left: 1em;
        border: none;
    }

    tr:nth-child(even) {
        background-color: var(--theme-alt-background-color);
    }

    .binary_data {
        font-size: small;
    }

    .upload_container {
        width: 355px;
    }

    @media screen and (orientation: portrait), (max-width: 1100px) {

        editPersona {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: .25em;
        }

        .button_group {
            margin-top: .25em;
            margin-bottom: .25em;
        }

        .form_text {
            margin-top: .25em;
            margin-bottom: .25em;
        }

        .panel_container {
            margin-right: .25em;
            margin-left: .25em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .information_form label {
            margin-top: .25em;
        }

        .information_form button {
            margin-top: .25em;
        }

        .table_data_type {
            padding-right: .25em;
        }

        .table_data_value {
            padding-left: .25em;
            word-break: break-word;
        }

        .binary_data {
            font-size: 4pt;
        }

    }

</style>

<editPersona>

    {#await personaPromise}
        <p>Loading persona {$params.persona}</p>
    {:then persona}
        <div class="panel_container">
            <NormalPanel header="Information">
                <table>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Preferred User Name" short="PUN"/></td>
                        <td class="table_data_value">{persona.activityPubJson.preferredUsername}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Persona Created" short="Created"/></td>
                        <td class="table_data_value"><ResponsiveDate date={persona.createdAt}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Persona Last Modified" short="Modified"/></td>
                        <td class="table_data_value"><ResponsiveDate date={persona.modifiedAt}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Activity Pub ID" short="AP ID"/>
                        </td><td class="table_data_value">{persona.activityPubJson.id}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Webfinger ACCT URL" short="WF"/></td>
                        <td class="table_data_value">{persona.webfingerJson.subject}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Public Key (PEM)" short="Key"/></td>
                        <td class="table_data_value binary_data">{#each splitPublicKey(persona) as line}{line}<br>{/each}</td>
                    </tr>
                </table>
            </NormalPanel>
        </div>

        <div class="panel_container">
            <NormalPanel header="Visibility">
                <form class="form_container" on:submit|preventDefault={handleSetVisibility}>
                    <div class="button_group">
                        <label><input type="radio" name="visibility" bind:group={visibility} value="Visible" id="visible"/>Publicly Visible</label>
                        <label><input type="radio" name="visibility" bind:group={visibility} value="Invisible" id="invisible"/>Visible Only To Owners</label>
                    </div>
                    <button class="normal_button" id="visibility_submit">Save</button>
                </form>
            </NormalPanel>
            <div style="display: none">
                {setVisibilitySelection(persona)}
            </div>
        </div>

        <div class="panel_container">
            <NormalPanel header="Default Person">
                <form class="form_container" on:submit|preventDefault={handleSetDefault}>
                    <span class="form_text">Default person: {persona.defaultActor}</span>
                    <button class="normal_button" id="default_actor_submit" disabled={persona.defaultActor}>Set As Default</button>
                </form>
            </NormalPanel>
        </div>

        <div class="panel_container">
            <NormalPanel header="Name and Bio">
                <form class="form_container information_form" on:submit|preventDefault={handleSetNameSummary}>
                    <label for="display_name">Display Name</label>
                    <input type="text" class="normal_input" id="display_name" bind:value={name} on:input={onNameSummaryChange}/>
                    <label for="summary">Bio (Summary)</label>
                    <textarea class="normal_textarea" rows="8" id="summary" bind:value={summary} on:input={onNameSummaryChange}></textarea>
                    <button class="normal_button" id="name_summary_submit" disabled={saveNameSummaryDisabled}>Save</button>
                </form>
            </NormalPanel>
            <div style="display: none">
                {setNameSummaryFields(persona)}
            </div>
        </div>

        <div class="panel_container upload_container">
            <NormalPanel header="Persona Icon">
                <ActorIconUpload preferredUsername={persona.activityPubJson.preferredUsername}/>
                <p>Image will be downscaled to 400 width x 400 height</p>
            </NormalPanel>
        </div>

        <div class="panel_container upload_container">
            <NormalPanel header="Banner Image">
                <ActorBannerUpload preferredUsername={persona.activityPubJson.preferredUsername}/>
                <p>Image will be downscaled to 1500 width x 500 height</p>
            </NormalPanel>
        </div>

    {:catch error}
        <p>error fetching persona: {error}</p>
    {/await}


</editPersona>