<script lang="ts">
    import {userinfo} from "../../stores/userinfostore";
    import {sessionExpiry} from "../../stores/sessionExpiry";
    import InAppLink from "../../components/InAppLink.svelte";
    import {logout} from "../../api/userRegistration";
    import InPageAction from "../../components/InPageAction.svelte";
    import {goto} from "@roxi/routify";
    import NormalPanel from "../../components/NormalPanel.svelte";
    import {getUserInfo} from "../../api/user";
    import {getPersonas, PersonaInfo} from "../../api/personas";
    import ResponsiveDate from "../../components/ResponsiveDate.svelte";
    import ResponsiveText from "../../components/ResponsiveText.svelte";

    async function doLogout() {
        await logout()
        $goto("/login")
    }

    let userInfoPromise = getUserInfo()
    let personasPromise = getPersonas()

    function displayNullable(item: string): string {
        if (item) {
            return item
        }
        //else
        return ""
    }

</script>

<account>
    <div class="panel_container" id="personas_list">
        <NormalPanel header="Personas">
            {#await personasPromise}
                <p>Loading personas...</p>
            {:then personas}
                <table>
                    {#each personas as persona}
                        <tr>
                            <td class="table_data_type">
                                <InAppLink linkTarget="/p/{persona.activityPubJson.preferredUsername}"
                                           linkText={persona.activityPubJson.preferredUsername}/>
                                {#if persona.defaultActor}
                                    <span class="default_actor">*</span>
                                {/if}
                            </td>
                            <td class="table_data_value">
                                <InAppLink linkTarget="/acct/post?persona={persona.activityPubJson.preferredUsername}" linkText="Post As"/> |
                                <InAppLink linkTarget="/acct/editPersona?persona={persona.activityPubJson.preferredUsername}" linkText="Edit"/></td>
                        </tr>
                    {/each}
                </table>
                <div class="center">
                    <span>* = default</span>
                </div>
            {:catch error}
                <p>error loading personas</p>
            {/await}
        </NormalPanel>
    </div>
    <div class="panel_container">
        <NormalPanel header="Actions">
            <p>
                <InAppLink linkTarget="/acct/upload" linkText="Upload Files"/>
            </p>
            <p>
                <InAppLink linkTarget="/acct/newPersona" linkText="Create New Persona"/>
            </p>
            <p>
                <InAppLink linkTarget="/acct/lookupAcct" linkText="Lookup Account"/>
            </p>
            <p>
                <InPageAction actionText="Logout" action="{doLogout}"/>
            </p>
        </NormalPanel>
    </div>
    <div class="panel_container">
        <NormalPanel header="Account">
            <table>
                <tr>
                    <td class="table_data_type">User name</td><td class="table_data_value">{$userinfo.name}</td>
                </tr>
                <tr>
                    <td class="table_data_type"><ResponsiveText long="Session Expiration" short="Session Exp."/></td><td class="table_data_value"><ResponsiveDate date={$sessionExpiry.expiry}/></td>
                </tr>
                {#await userInfoPromise}
                    <tr>
                        <td colspan="2">Loading User details...</td>
                    </tr>
                {:then userdata}
                    <tr>
                        <td class="table_data_type">Last Seen</td><td class="table_data_value"><ResponsiveDate date={userdata.lastSeenAt}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Last Seen From" short="From"/></td><td class="table_data_value">{displayNullable(userdata.lastSeenFrom)}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type">Last Login</td><td class="table_data_value"><ResponsiveDate date={userdata.lastLogin}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Previous Login" short="Previous"/></td><td class="table_data_value"><ResponsiveDate date={userdata.previousLogin}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type">Email</td><td class="table_data_value">{displayNullable(userdata.email)}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type">Email Status</td><td class="table_data_value">{displayNullable(userdata.emailVerified)}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type">Email Verified</td><td class="table_data_value"><ResponsiveDate date={userdata.emailVerifiedAt}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type">Theme</td><td class="table_data_value">{displayNullable(userdata.theme)}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Account Status" short="Status"/></td><td class="table_data_value">{displayNullable(userdata.status)}</td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Account Created" short="Created"/></td><td class="table_data_value"><ResponsiveDate date={userdata.createdAt}/></td>
                    </tr>
                    <tr>
                        <td class="table_data_type"><ResponsiveText long="Account Last Modified" short="Modified"/></td><td class="table_data_value"><ResponsiveDate date={userdata.modifiedAt}/></td>
                    </tr>
                {:catch error}
                    <tr>
                        <td colspan="2">Error loading user details!!!</td>
                    </tr>
                {/await}
            </table>
        </NormalPanel>
    </div>
</account>

<style>

    account {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .panel_container {
        margin: 1em;
    }

    .table_data_type {
        border-right-style: dashed;
        border-right-width: thin;
        padding-right: 1em;
    }

    .table_data_value {
        padding-left: 1em;
        border: none;
    }

    tr:nth-child(even) {
        background-color: var(--theme-alt-background-color);
    }

    .center {
        text-align: center;
    }

    .default_actor {
        color: var(--theme-info-color);
    }

</style>