<script lang="ts">
    import {focus} from "@roxi/routify"
    import NormalPanel from "../../components/NormalPanel.svelte";
    import {siteinfo} from "../../stores/siteinfostore";
    import {SITE_HOST} from "../../api/siteInfo";
    import {ActorInfo, getAccount} from "../../api/actors";
    import Waiting from "../../components/Waiting.svelte";
    import ActorCard from "../../components/ActorCard.svelte";

    let acct = ""
    let actorInfo : ActorInfo | undefined = undefined

    function handleLookupAcct() {
        if (acct.startsWith("@")) {
            acct = acct.substring(1)
        }
        if (!acct.includes("@")) {
            acct = acct + "@" + $siteinfo[SITE_HOST]
        }
        if (!acct.startsWith("acct:")) {
            acct = "acct:" + acct
        }
        lookupInprogress = true
        showNotFound = false
        let lookupPromise = getAccount(acct)
        lookupPromise.then(result => {
            lookupInprogress = false
            lookupDisabled = lookupDisabled
            if (result == null) {
                showNotFound = true
            } else {
                actorInfo = result
            }
        })
    }

    let showNotFound = false
    let lookupInprogress = false
    let lookupDisabled = false
    $: lookupDisabled = (
        acct.length < 1 || (acct.length == 1 && acct.startsWith("@")) || lookupInprogress
    )
</script>

<style>

    .lookup_acct {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_container button {
        margin-top: 2em;
    }

    .form_container label {
        margin-top: .5em;
    }

    .status {
        justify-content: center;
        display: flex;
        margin-top: .5em;
    }

    .not_found {
        color: var(--theme-warn-color);
    }

</style>

<div class="lookup_acct">

    <NormalPanel header="Lookup Account">

        <form class="form_container" on:submit|preventDefault={handleLookupAcct}>
            <label for="acct_name">Account</label>
            <input use:focus id="acct_name" bind:value={acct} class="normal_input" placeholder="alice or bob@foo.com">
            <button id="lookup_button" type="submit" class="normal_button" disabled={lookupDisabled}>
                Lookup
            </button>
        </form>

        <div class="status">
            {#if lookupInprogress}
                <Waiting/>
            {:else}
                {#if showNotFound}
                    <span class="not_found">Not Found!</span>
                {:else if actorInfo}
                    <ActorCard showBanner="false" extendedSummary="true" actorInfo={actorInfo}/>
                {/if}
            {/if}
        </div>


    </NormalPanel>

</div>
