<script lang="ts">
    import {focus} from "@roxi/routify"
    import {goto} from "@roxi/routify";
    import NormalPanel from "../../components/NormalPanel.svelte";
    import {checkPersonaAvailable, registerPersona} from "../../api/personas";
    import {debounce} from "lodash";

    let persona_name = "";

    let name_notalphanum_class = false
    let name_notoneword_class = false

    let name_unavailable_noted = false

    function handleNewPersonaSubmit() {
        let register_promise = registerPersona(persona_name)
        register_promise.then(result => {
            $goto(`/acct/editPersona?persona=${persona_name}`)
        })
    }

    let name_check_promise
    $: name_check_promise = doPersonaAvailability(persona_name)

    function doPersonaAvailability(name) {
        if (name.length < 1 || name_notoneword_class || name_notalphanum_class) {
            return false
        }
        //else
        return checkPersonaAvailable(name)
    }

    let name_alphanum_regex = /^[\w\s]+$/
    $: name_notalphanum_class = (persona_name.length > 0) && !persona_name.match(name_alphanum_regex)

    let name_space_regex = /^[\S]+$/
    $: name_notoneword_class = (persona_name.length > 0) && !persona_name.match(name_space_regex)


    function noteNameUnavailable(fetchResult) {
        name_unavailable_noted = fetchResult
        return ""
    }

    let registration_disabled = false
    $: registration_disabled = (
        persona_name.length < 1 ||
        name_notalphanum_class ||
        name_notoneword_class ||
        name_unavailable_noted
    )

    const onNameInput = debounce(event => {
        persona_name = event.target.value;
    }, 750);
</script>

<style>
    newpersona {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_container button {
        margin-top: 2em;
    }

    .form_container label {
        margin-top: .5em;
    }

    .form_error {
        color: var(--theme-danger-color);
    }
</style>

<newpersona>
    <NormalPanel header="New Persona">
        <form class="form_container" on:submit|preventDefault={handleNewPersonaSubmit}>
            <label for="persona_name">Persona Name</label>
            <input use:focus type="text" on:input={onNameInput} class="normal_input" id="persona_name" name="persona"/>
            <button id=new_persona_submit type="submit" class="normal_button" disabled={registration_disabled}>
                Create Persona
            </button>
            <ul>
                {#await name_check_promise}
                    <li>Persona name must be available.</li>
                {:then name_available}
                    {noteNameUnavailable(name_available)}
                    <li class:form_error={name_available}>Persona name must be available.</li>
                {:catch e}
                    <li>Persona name must be available.</li>
                {/await}
                <li class:form_error={name_notalphanum_class}>Persona name must be alphanumeric.</li>
                <li class:form_error={name_notoneword_class}>Persona name must have no spaces.</li>
            </ul>
        </form>
    </NormalPanel>
</newpersona>