<script lang="ts">
    import MarkdownEditor from "../../components/editor/MarkdownEditor.svelte";
    import {noteUrl, postNote} from "../../api/notes";
    import {goto, params} from "@roxi/routify";
    import {siteinfo} from "../../stores/siteinfostore";
    import {SITE_AP_NOTE_BASE_URL, SITE_AP_PERSON_BASE_URL, SITE_HOST} from "../../api/siteInfo";
    import NormalPanel from "../../components/NormalPanel.svelte"
    import PhotoUpload from "../../components/PhotoUpload.svelte"
    import {getActorId} from "../../common/actorUrl";
    import {getPersonas, PersonaInfo} from "../../api/personas";
    import Waiting from "../../components/Waiting.svelte";
    import {ActorInfo, getAccount} from "../../api/actors";
    import {onMount} from "svelte";
    import {PostingAddresses} from "../../api/postables";

    let markdownEditor = null

    let photoUpload = null

    let selectedFrom

    let toAddresses = new Map()

    let disableAddPublic = false

    const PUBLIC_ACTORID = "https://www.w3.org/ns/activitystreams#Public"
    const PUBLIC_DISPLAYNAME = "Public"

    onMount(() => {
        if ($params.public) {
            toAddresses.set(PUBLIC_ACTORID, PUBLIC_DISPLAYNAME)
            disableAddPublic = true
        }
        if ($params.toDisplayName && $params.toActorId) {
            toAddresses.set($params.toActorId, $params.toDisplayName)
        }
        toAddresses = toAddresses
    })

    let selectedTo

    let disableRemoveTo = true

    function onChangeSelectTo() {
        disableRemoveTo = false
        if (toAddresses.has(PUBLIC_ACTORID)) {
            disableAddPublic = true
        }
    }

    function handleRemoveTo() {
        if (selectedTo == PUBLIC_ACTORID) {
            disableAddPublic = false
        }
        toAddresses.delete(selectedTo)
        toAddresses = toAddresses
        disableRemoveTo = true
    }

    function handleAddPublic() {
        toAddresses.set(PUBLIC_ACTORID, PUBLIC_DISPLAYNAME)
        toAddresses = toAddresses
    }

    let lookupInprogress = false
    let acct = ""
    let actorInfo : ActorInfo | undefined = undefined
    let showNotFound = false

    let disableAddActor = true
    $: disableAddActor = (
        !showNotFound
    )

    function handleLookupAcct() {
        if (acct.startsWith("@")) {
            acct = acct.substring(1)
        }
        if (!acct.includes("@")) {
            acct = acct + "@" + $siteinfo[SITE_HOST]
        }
        if (!acct.startsWith("acct:")) {
            acct = "acct:" + acct
        }
        lookupInprogress = true
        showNotFound = false
        let lookupPromise = getAccount(acct)
        lookupPromise.then(result => {
            lookupInprogress = false
            disableAddActor = disableAddActor
            if (result == null) {
                showNotFound = true
            } else {
                disableAddActor = false
                actorInfo = result
            }
        })
    }

    function handleAddActor() {
        toAddresses.set(actorInfo.activityPubJson.id, displayName(actorInfo))
        toAddresses = toAddresses
        disableAddActor = true
    }

    async function handlePost() {
        let html = markdownEditor.getHtml()
        let actorId = getActorId(selectedFrom, $siteinfo[SITE_AP_PERSON_BASE_URL])
        let to = []
        toAddresses.forEach((k,v) => {to.push(v)})
        let postingAddresses: PostingAddresses = <PostingAddresses>{to: to, bto: [], cc: [], bcc: []}
        let notePostResponse = await postNote(actorId, html, photoUpload.getFiles(), postingAddresses)
        let gotoUrl = noteUrl(notePostResponse.id, $siteinfo[SITE_AP_NOTE_BASE_URL])
        $goto(gotoUrl)
    }

    let personasPromise = getPersonas()

    function displayName(a: ActorInfo): string {
        let retval = a.activityPubJson["preferredUsername"]
        if (a.activityPubJson.name) {
            retval = a.activityPubJson.name
        }
        //else
        return retval
    }

    function isSelected(a: ActorInfo): boolean {
        if ($params.persona) {
            if (a.activityPubJson["preferredUsername"] == $params.persona) {
                return true
            } else {
                return false
            }
        } else if (a.defaultActor) {
            return true
        }
    //else
    return false
    }
</script>

<style>
    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1em;
    }

    post {
        display: block;
        width: 100%;
    }

    .addressing_panels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .panel_container {
        margin: 1em;
    }

    .addressing_panel_content {
        margin-top: .5em;
    }

    .normal_select_dropdown_wrapper {
        overflow: hidden;
        position: relative;
        max-width: 355px;
        width: 355px; /* real length of dropdown */
    }

    .normal_select_dropdown_wrapper:after {
        content: "▼";
        font-size: 0.8rem;
        pointer-events: none; /* ▼ click triggers dropdown */
        position: absolute;
        right: 0.2rem;
        top: 0.3rem;
        z-index: 1;
    }

    .normal_select_dropdown_wrapper select {
        /* remove default caret */
        -webkit-appearance: none; /* webkit browsers */
        -moz-appearance: none; /* firefox */
        appearance: none; /* modern browsers */
        width: 100%;
        border-width: thin;
        color: var(--theme-primary-color);
        background-color: var(--theme-background-color);
        border-style: solid;
        border-color: var(--theme-action-color);
        border-radius: .2em;
        font-size: var(--theme-primary-font-size);
        font-family: var(--theme-primary-font-family);
        font-weight: var(--theme-primary-font-weight);
    }

    .normal_select_dropdown_wrapper select::-ms-expand {
        display: none; /* remove default caret for ie */
    }

    .normal_select_dropdown_wrapper select option {
        color: var(--theme-primary-color);
        background-color: var(--theme-background-color);
    }

    .to_container_panel {
        width: 355px;
        max-width: 355px;
    }


    .to_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .to_add_container {
        display: flex;
        flex-direction: column;
        margin-left: .5em;
    }

    .to_add_container button {
        margin-top: .25em;
    }

    .to_add_container span {
        margin-top: .25em;
    }

    .to_add_container input {
        margin-top: .25em;
    }

    .to_select {
        width: 355px;
        max-width: 355px;
    }

    .normal_select_multi_list select {
        border-width: thin;
        color: var(--theme-primary-color);
        background-color: var(--theme-background-color);
        border-style: solid;
        border-color: var(--theme-action-color);
        border-radius: .2em;
        font-size: var(--theme-primary-font-size);
        font-family: var(--theme-primary-font-family);
        font-weight: var(--theme-primary-font-weight);
    }

    .normal_select_multi_list select option {
        color: var(--theme-primary-color);
        background-color: var(--theme-background-color);
    }

    .lookup_status {
        justify-content: center;
        display: flex;
    }

    .not_found {
        color: var(--theme-warn-color);
    }

    .actor_found {
        color: var(--theme-info-color);
    }
</style>

<post>
    <div class="addressing_panels">
        <div class="panel_container to_container_panel">
            <NormalPanel header="From">
                {#await personasPromise}
                    <Waiting/>
                {:then personas}
                    <div class="normal_select_dropdown_wrapper addressing_panel_content">
                        <select bind:value={selectedFrom} name="from" id="from_select">
                            {#each personas as persona}
                                <option value={persona.activityPubJson.preferredUsername} selected={isSelected(persona)}>{displayName(persona)}</option>
                            {/each}
                        </select>
                    </div>
                {:catch error}
                    Error loading personas! {error}
                {/await}
            </NormalPanel>
        </div>
        <div class="panel_container">
            <NormalPanel header="To">
                <div class="to_container addressing_panel_content">
                    <div class="normal_select_multi_list">
                        <select bind:value={selectedTo} name="to" id="to_select" multiple="true" size="6" class="to_select" on:change={onChangeSelectTo}>
                            {#each [...toAddresses] as toAddressee}
                                <option value={toAddressee[0]}>{toAddressee[1]}</option>
                            {/each}
                        </select>
                    </div>
                    <div class="to_add_container">
                        <button class="normal_button" disabled={disableRemoveTo} on:click={handleRemoveTo}>Remove</button>
                        <button class="normal_button" disabled={disableAddPublic} on:click={handleAddPublic}>Add Public</button>
                        <input id="actor_lookup" class="normal_input" placeholder="alice or bob@foo.com" bind:value={acct} on:change={handleLookupAcct}>
                        <span class="lookup_status">
                            {#if lookupInprogress}
                                <Waiting/>
                            {:else}
                                {#if showNotFound}
                                    <span class="not_found">Not Found!</span>
                                {:else if actorInfo}
                                    <span class="actor_found">{displayName(actorInfo)}</span>
                                {:else}
                                    <span>-----</span>
                                {/if}
                            {/if}
                        </span>
                        <button class="normal_button" disabled={disableAddActor} on:click={handleAddActor}>Add Actor</button>
                    </div>
                </div>
            </NormalPanel>
        </div>
    </div>
    <MarkdownEditor bind:this={markdownEditor}/>
    <div class="panel_container">
        <NormalPanel header="Photos">
            <PhotoUpload bind:this={photoUpload}/>
            <p>Images will be downscaled to 1280 width x 1280 height</p>
            <p>Six images maximum</p>
        </NormalPanel>
    </div>
    <form class="form_container" on:submit|preventDefault={handlePost}>
        <button class="normal_button" id="submit_note">Post</button>
    </form>
</post>

