<script lang="ts">
    import NormalPanel from "../../components/NormalPanel.svelte";

    import FilePond, { registerPlugin, supported } from 'svelte-filepond';

    // Import the Image EXIF Orientation and Image Preview plugins
    // Note: These need to be installed separately
    // `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save`
    import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation'
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview'

    // Register the plugins
    registerPlugin(FilePondPluginImageExifOrientation, FilePondPluginImagePreview);

    // a reference to the component, used to call FilePond methods
    let pond;

    // pond.getFiles() will return the active files

    // the name to use for the internal file input
    let name = 'filepond';

</script>

<style global>
    @import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

    .filepond--root {
        width: 375px;
        margin-top: .5em;
        font-size: var(--theme-primary-font-size);
        font-weight: var(--theme-primary-font-weight);
        font-family: var(--theme-primary-font-family);
        background-color: var(--theme-background-color);
        color: var(--theme-primary-color);
        border-radius: .20em;
        overflow: clip;
    }

    /* use a hand cursor intead of arrow for the action buttons */
    .filepond--file-action-button {
        cursor: pointer;
    }

    /* the text color of the drop label*/
    .filepond--drop-label {
        color: var(--theme-action-color);
        background-color: var(--theme-background-color);
    }

    /* underline color for "Browse" button */
    .filepond--label-action {
        text-decoration-color: var(--theme-action-color)
    }

    /* the border radius of the file item */
    .filepond--item-panel {
        border-radius: .20em;
    }

    /* the background color of the file and file panel (used when dropping an image) */
    .filepond--item-panel {
        background-color: var(--theme-background-color);
    }

    /* the background color of the drop circle */
    .filepond--drip-blob {
        background-color: var(--theme-background-color);
    }

    /* the background color of the black action buttons */
    .filepond--file-action-button {
        background-color: var(--theme-background-color);
    }

    /* the icon color of the black action buttons */
    .filepond--file-action-button {
        color: var(--theme-action-color);
    }

    /* the color of the focus ring */
    .filepond--file-action-button:hover,
    .filepond--file-action-button:focus {
        box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
    }

    /* the text color of the file status and info labels */
    .filepond--file {
        color: var(--theme-info-color)
    }

    /* error state color */
    [data-filepond-item-state*='error'] .filepond--item-panel,
    [data-filepond-item-state*='invalid'] .filepond--item-panel {
        color: var(--theme-danger-color);
        background-color: var(--theme-alt-background-color);
    }

    [data-filepond-item-state='processing-complete'] .filepond--item-panel {
        color: var(--theme-info-color);
        background-color: var(--theme-alt-background-color);
    }

    .filepond--image-preview-overlay-success {
        color: var(--theme-alt-background-color);
    }

    .filepond--image-preview-overlay-failure {
        color: var(--theme-alt-background-color);
    }

    .filepond--credits {
        display: none;
    }

    .filepond--image-preview-wrapper {
        border-radius: .20em;
    }

    .filepond--panel-center {
        background-color: var(--theme-background-color);
    }

    .filepond--panel-bottom {
        background-color: var(--theme-background-color);
    }

    .filepond--image-preview {
        background-color: var(--theme-background-color);
    }

    .filepond--image-preview-overlay-idle {
        color: var(--theme-background-color);
    }

    upload {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

</style>

<upload>
    <NormalPanel header="Upload Files">
        <FilePond bind:this={pond} {name}
                  server="/api/upload/general/file"
                  allowMultiple={true}
                  />
    </NormalPanel>
</upload>