html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	/*theme variables*/
	background-color: var(--theme-background-color);
	color: var(--theme-primary-color);
	font-family: var(--theme-primary-font-family);
	font-weight: var(--theme-primary-font-weight);
	font-size: var(--theme-primary-font-size);

	margin: 0;
	box-sizing: border-box;
}

#routify-app {
	/*height: 100%;*/
	/*display: flex;*/
	/*flex-direction: column;*/
}

a {
	color: var(--theme-primary-color);
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

input:focus {
	outline: 0px;
}

textarea:focus {
	outline: 0px;
}

label {
	display: block;
}

.theme_green_on_black {
	--theme-background-color :#222;
	--theme-alt-background-color: #312f2f;
	--theme-site-name-background-color: rgb(0,204,0);
	--theme-site-name-color :#222;
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: rgb(0,204,0);
    --theme-info-color: rgb(52,151,251);
	--theme-action-color: whitesmoke;
	--theme-disabled-color: gray;
	--theme-warn-color: yellow;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_green_on_black_with_amber {
	--theme-background-color :#222;
	--theme-alt-background-color: #312f2f;
	--theme-site-name-background-color: rgb(204, 167, 0);
	--theme-site-name-color :#222;
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: rgb(0,204,0);
	--theme-info-color: rgb(52,151,251);
	--theme-action-color: whitesmoke;
	--theme-disabled-color: gray;
	--theme-warn-color: yellow;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_black_on_light_grey {
	--theme-background-color : gainsboro;
	--theme-alt-background-color: whitesmoke;
	--theme-site-name-background-color: black;
	--theme-site-name-color : gainsboro;
	--theme-site-name-action-color: #005eff;

	--theme-primary-color: black;
	--theme-info-color: darkgreen;
	--theme-action-color: blue;
	--theme-disabled-color: gray;
	--theme-warn-color: orange;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_black_on_white {
	--theme-background-color : white;
	--theme-alt-background-color: whitesmoke;
	--theme-site-name-background-color: black;
	--theme-site-name-color : gainsboro;
	--theme-site-name-action-color: #005eff;

	--theme-primary-color: black;
	--theme-info-color: darkgreen;
	--theme-action-color: blue;
	--theme-disabled-color: gray;
	--theme-warn-color: orange;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_black_on_white_with_red {
	--theme-background-color : white;
	--theme-alt-background-color: whitesmoke;
	--theme-site-name-background-color: #7f0101;
	--theme-site-name-color : gainsboro;
	--theme-site-name-action-color: #f1cfcf;

	--theme-primary-color: black;
	--theme-info-color: darkgreen;
	--theme-action-color: blue;
	--theme-disabled-color: gray;
	--theme-warn-color: orange;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_black_on_white_with_green {
	--theme-background-color : white;
	--theme-alt-background-color: whitesmoke;
	--theme-site-name-background-color: rgb(22, 181, 22);
	--theme-site-name-color : white;
	--theme-site-name-action-color: #931539;

	--theme-primary-color: black;
	--theme-info-color: darkgreen;
	--theme-action-color: blue;
	--theme-disabled-color: gray;
	--theme-warn-color: orange;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_white_on_blue {
	--theme-background-color : #006;
	--theme-alt-background-color: #081979;
	--theme-site-name-background-color: white;
	--theme-site-name-color : darkblue;
	--theme-site-name-action-color: rgb(2, 161, 17);

	--theme-primary-color: white;
	--theme-info-color: rgb(14, 201, 235);
	--theme-action-color: rgb(0, 250, 33);
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(244, 248, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_white_on_blue_with_green {
	--theme-background-color : #006;
	--theme-alt-background-color: #081979;
	--theme-site-name-background-color: #8B8B00;
	--theme-site-name-color : darkblue;
	--theme-site-name-action-color: black;

	--theme-primary-color: white;
	--theme-info-color: rgb(14, 201, 235);
	--theme-action-color: rgb(0, 250, 33);
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(244, 248, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_amber_on_black {
	--theme-background-color :#222;
	--theme-alt-background-color: #312f2f;
	--theme-site-name-background-color: rgb(204, 167, 0);
	--theme-site-name-color :#222;
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: rgb(204, 167, 0);
    --theme-info-color: rgb(52,151,251);
	--theme-action-color: whitesmoke;
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(238, 255, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_amber_on_black_with_blue {
	--theme-background-color :#222;
	--theme-alt-background-color: #312f2f;
	--theme-site-name-background-color: #0025CC;
	--theme-site-name-color: rgb(204, 167, 0);
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: rgb(204, 167, 0);
	--theme-info-color: rgb(52,151,251);
	--theme-action-color: whitesmoke;
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(238, 255, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_blue_on_white {
	--theme-background-color : white;
	--theme-alt-background-color: aliceblue;
	--theme-site-name-background-color: blue;
	--theme-site-name-color : white;
	--theme-site-name-action-color: #9bd2f6;

	--theme-primary-color: blue;
	--theme-info-color: darkgreen;
	--theme-action-color: black;
	--theme-disabled-color: gray;
	--theme-warn-color: #ff8c00;
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_blue_on_black {
	--theme-background-color :#222;
	--theme-alt-background-color: #312f2f;
	--theme-site-name-background-color: rgb(52,151,251);
	--theme-site-name-color :#222;
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: rgb(52,151,251);
	--theme-info-color: rgb(204, 167, 0);
	--theme-action-color: whitesmoke;
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(238, 255, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 400;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 400;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 400;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 400;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_tandy_400 {
	--theme-background-color : #db1515;
	--theme-alt-background-color: #b32a2a;
	--theme-site-name-background-color: rgb(0, 107, 182);
	--theme-site-name-color : #222;
	--theme-site-name-action-color: whitesmoke;

	--theme-primary-color: whitesmoke;
	--theme-info-color: rgb(6, 92, 8);
	--theme-action-color: rgb(6, 72, 132);
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(238, 255, 0);
	--theme-danger-color: #610486;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 700;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 700;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 700;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 700;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.theme_ubuntu {
	--theme-background-color : #77216F;
	--theme-alt-background-color: #5E2750;
	--theme-site-name-background-color: #2C001E;
	--theme-site-name-color : #77216F;
	--theme-site-name-action-color: rgb(2, 161, 17);

	--theme-primary-color: white;
	--theme-info-color: #678e11;
	--theme-action-color: #5c8ece;
	--theme-disabled-color: gray;
	--theme-warn-color: rgb(244, 248, 0);
	--theme-danger-color: red;

	--theme-primary-font-family: 'Poppins', sans-serif;
	--theme-primary-font-weight: 700;
	--theme-primary-font-size: 12pt;

	--theme-site-name-font-family: 'Goldman', cursive;
	--theme-site-name-font-weight: 700;
	--theme-site-name-font-size: xx-large;

	--theme-panel-header-font-family: 'Goldman', cursive;
	--theme-panel-header-font-weight: 700;
	--theme-panel-header-font-size: large;

	--theme-monospace-font-family: 'Roboto', monospace;
	--theme-monospace-font-weight: 700;
	--theme-monospace-font-size: 12pt;

	--theme-a-text-decoration: underline;
}

.main_panel {
	padding: 1em;
	margin: 0 auto;
	display: block;
}

.normal_panel {
	border-width: thin;
	border-style: solid;
    margin: 1em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border-radius: .20em;
}

.normal_button {
	color: var(--theme-background-color);
    background-color: var(--theme-action-color);
	border-color: var(--theme-action-color);
	border-radius: .25em;
	border-style: solid;
	border-width: thin;
    font-size: var(--theme-primary-font-size);
	font-weight: var(--theme-primary-font-weight);
	font-family: var(--theme-primary-font-family);
}

.normal_button:disabled {
	background-color: var(--theme-background-color);
	color: var(--theme-action-color);
	border-color: var(--theme-action-color);
}

.normal_input {
	background-color: var(--theme-background-color);
	color: var(--theme-primary-color);
	border-color: var(--theme-action-color);
	border-style: solid;
	border-bottom-width: thin;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-radius: 0;
	font-size: var(--theme-primary-font-size);
	font-weight: var(--theme-primary-font-weight);
	font-family: var(--theme-primary-font-family);
}

.normal_textarea {
	background-color: var(--theme-background-color);
	color: var(--theme-primary-color);
	border-color: var(--theme-action-color);
	border-style: solid;
	border-width: thin;
	font-size: var(--theme-primary-font-size);
	font-weight: var(--theme-primary-font-weight);
	font-family: var(--theme-primary-font-family);
}

@media screen and (orientation: portrait), (max-width: 1100px) {

	.main_panel {
		margin-top: .35rem;
		margin-bottom: .35rem;
		max-width: none;
	}

	.normal_panel {
		border-width: thin;
		border-style: solid;
		margin: .25em;
		padding-top: .25em;
		padding-left: .25em;
		padding-right: .25em;
		padding-bottom: .25em;
		border-radius: .25em;
	}
}

