<script lang="ts">
    import {params} from '@roxi/routify'
    import Postable from "../../components/Postable.svelte";

    $: noteId = $params.note
</script>

<style>

    .object {
        margin: 1em;
        width: 100%;
    }

</style>

<div class="object">
    {#if noteId != undefined}
        <Postable poastableId={noteId}/>
    {/if}
</div>