<script lang="ts">
  import { Router } from "@roxi/routify";
  import { routes } from "../.routify/routes";
  import {onMount} from "svelte";
  import {fetchSiteInfo} from "./api/siteInfo";
  import {setSiteOrLocalTheme} from "./common/theming";

  let promise = Promise.resolve([]);

  onMount(function (){
      promise = fetchSiteInfo()
      promise.then(result => {
          let themeName = result["defaultTheme"]
          setSiteOrLocalTheme(themeName)
      })
  })

</script>

<style  global>
    @import "../assets/global.css";

    .router {
        height: 100%;
    }
</style>

<Router {routes} class="router" />