<script lang="ts">
    import {params} from '@roxi/routify'
    import {localNoteId} from "../../../../api/notes";
    import {siteinfo} from "../../../../stores/siteinfostore";
    import {SITE_AP_NOTE_BASE_URL} from "../../../../api/siteInfo";
    import Postable from "../../../../components/Postable.svelte";

    $: noteId = $params.note
    $: preferredUsername = $params.person

    function makeNoteId(): string {
        return localNoteId(noteId, preferredUsername, $siteinfo[SITE_AP_NOTE_BASE_URL])
    }

</script>

<style>

    .note {
        margin: 1em;
        width: 100%;
    }

</style>

<div class="note">
    <Postable poastableId={makeNoteId()}/>
</div>