<script lang="ts">
    import NormalPanel from "../NormalPanel.svelte";
    import ActorCard from "../ActorCard.svelte";
    import InPageAction from "../InPageAction.svelte";
    import {ActorInfo, getAllActors} from "../../api/actors";

    const searchLimit = 10
    let nextDate: string = ""
    //TODO narrow to persons in the api call
    let peoplePromise = getAllActors(nextDate, searchLimit)

    let people: ActorInfo[] = []
    let moreActionDisabled = false

    function addPersons(persons: ActorInfo[]) {
        evaluateLoadedPersons(persons)
    }

    async function loadMorePersons() {
        const loadedPeople = await getAllActors(nextDate, searchLimit)
        evaluateLoadedPersons(loadedPeople)
        setTimeout(() => {
            window.scrollBy({left: 0, top: (window.innerHeight * 0.9 ), behavior: "smooth"})
        }, 100)
    }

    function evaluateLoadedPersons(persons: ActorInfo[]) {
        people = people.concat(persons)
        nextDate = people[people.length - 1].modifiedAt
        if (persons.length < searchLimit) {
            moreActionDisabled = true
        }
    }
</script>


<div class="homeFeedPanel">
    <div>
        <NormalPanel header="People">
            {#await peoplePromise}
                <p>Loading system persons.</p>
            {:then loadedPeople}
                <div onload={addPersons(loadedPeople)}/>
            {:catch error}
                <p>Error loading system people.</p>
            {/await}
            <div class="peoplePanel">
                {#each people as person}
                    <div class="personCardContainer">
                        <ActorCard actorInfo={person} showBanner="true"/>
                    </div>
                {/each}
            </div>
            <div class="moreAction" class:moreActionDisabled>
                <InPageAction action={loadMorePersons} actionText="More..."/>
            </div>
        </NormalPanel>
    </div>
</div>


<style>
    .homeFeedPanel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .homeFeedPanel div {
        margin: .5em;
    }

    .peoplePanel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .personCardContainer {
        margin: .5em;
    }

    .moreAction {
        text-align: center;
    }

    .moreActionDisabled {
        display: none;
    }

    @media screen and (orientation: portrait), (max-width: 1100px) {
        .homeFeedPanel div {
            margin: .25em;
        }
        .personCardContainer {
            margin: .25em;
        }
    }
</style>