<script lang="ts">

</script>


<div class="user_list_item">
    <div>
        <a class="news_feed_item_title"
           href="https://httbin.com/stuff">
            News Item Title Blah Blah
        </a>
        <p class="news_feed_item_text">
            Vastness is bearable only through love Jean-François 
            Champollion light years Tunguska event extraplanetary 
            invent the universe. Network of wormholes hundreds of 
            thousands the sky calls to us ship of the imagination 
            ship of the imagination circumnavigated. Citizens of 
            distant epochs made in the interiors of collapsing 
            stars a mote of dust suspended in a sunbeam another 
            world of brilliant syntheses Sea of Tranquility. 
            Vanquish the impossible hearts of the stars muse about 
            with pretty stories for which there's little good 
            evidence brain is the seed of intelligence the only 
            home we've ever known.
        </p> 
        <p class="news_feed_item_data">
            Comments: <span class="news_feed_item_datum">43</span>
            Likes: <span class="news_feed_item_datum">123</span>
            Judged: 
            <span class="news_feed_item_datum">3</span>
            of
            <span class="news_feed_item_datum">7</span>
        </p>
    </div>
    <img src="https://www.fillmurray.com/160/90" alt="bill murray"/>
</div>

<style>
    .user_list_item {
        display: flex;
        text-align: justify;
        flex-direction: row;
        justify-content: space-between;
    }

    .user_list_item img {
        height: 90px;
        width: 160px;
        vertical-align:middle;
    }

    .news_feed_item_title {
        text-align: left;
        padding-right: 1em;
    }

    .news_feed_item_text {
        display: -webkit-box;
        padding-right: 1em;
        margin-left: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .news_feed_item_data {
        margin-left: 2em;
        padding-right: 1em;
    }

    .news_feed_item_datum {
        color: var(--theme-info-color);
    }

	@media screen and (orientation: portrait), (max-width: 1100px) {
        .news_feed_item_text {
            padding-right: .5em;
            margin-left: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
        }
        .news_feed_item_data {
            margin-left: 0;
            padding-right: 1em;
        }
        .user_list_item {
            flex-direction: column;
        }
	}
</style>