<script>
    import SiteBar from "../components/SiteBar.svelte";
    import LeftNav from "../components/LeftNav.svelte";
    import InfoPanel from "../components/InfoPanel.svelte";
</script>

<style>
   .main_layout {
       display: flex;
       flex-direction: column;
       height: 100%;
   }

   .gutters_and_content_container {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .content {
       display: flex;
       flex-direction: row;
       justify-content: center;
       width: 100%;
   }

   .left_gutter {
       min-width: 211px;
       min-width: 275px;
   }

   .right_gutter {
       min-width: 211px;
       min-width: 275px;
   }

   .right_gutter_content {
       padding: 1em;
   }

   @media screen and (orientation: portrait), (max-width: 1100px) {
       .gutters_and_content_container {
           flex-direction: column;
       }
       .content {
           flex-direction: column;
           min-width: 100%;
           width: 100%;
       }
       .left_gutter {
           min-width: 0%;
           width: 0%;
       }
       .right_gutter {
           min-width: 100%;
           width: 100%;
       }

       .right_gutter_content {
           margin-top: 1em;
           padding: .5em;
       }
   }

</style>

<!-- routify:options preload="proximity" -->
<div class="main_layout">
   <SiteBar/>
    <div class="gutters_and_content_container">
        <div class="left_gutter">
            <LeftNav/>
        </div>
        <div class="content">
            <slot />
        </div>
        <div class="right_gutter">
            <div class="right_gutter_content">
                <InfoPanel header="System Status" border="true">
                    All systems functioning normally.
                </InfoPanel>
            </div>
        </div>
    </div>
</div>
