<script>
    import { onMount } from 'svelte';
    import {API_BASE_URL} from "../api/apibaseurl";

    let promise = Promise.resolve([]);

    async function fetchSiteInfo() {
        let fetchURL = API_BASE_URL + "/site/info"
        const response = await self.fetch(fetchURL);

        if (response.ok) {
            return response.json();
        } else {
            throw new Error("fetching site info");
        }
    }

    onMount(function (){
        promise = fetchSiteInfo()
    })
</script>

<about class="main_panel">
    <p>
        {#await promise}apb - activitypub bbs{:then sitename}{sitename.shortName} - {sitename.longName}{:catch error}Err!{/await}
    </p>
    <p>
        {#await promise}apb{:then sitename}{sitename.shortName}{:catch error}Err!{/await}
        runs on APB Svelte Front End
    </p>
    <p>
        To find out more about APB, visit <a href="https://fossil.rcode3.com/apb">the APB Fossil SCM</a>.
    </p>
</about>

<style>

</style>