<script>
    import { metatags } from '@roxi/routify'
    import Homefeed from "../components/homefeed/Homefeed.svelte";
    import { siteinfo } from "../stores/siteinfostore";

    let shortName="apb"
	let longName="activity pub bbs"
    const siteinfosubscribe = siteinfo.subscribe( value => {
    	shortName = value["shortName"]
		longName = value["longName"]
	})
	metatags.title = shortName
	metatags.description = longName
</script>

<main>
	<Homefeed/>
</main>

<style>
</style>