<script>
    import {focus} from "@roxi/routify"
    import InAppLink from "../components/InAppLink.svelte";
    import {loginUser} from "../api/userRegistration";
    import NormalPanel from "../components/NormalPanel.svelte";
    import {goto} from "@roxi/routify";
    import {setThemeFromUser} from "../common/theming";

    let login_username = ""
    let login_password = ""

    function handleLoginSubmit() {
        let login_promise = loginUser(login_username, login_password)
        login_promise.then(result=>{
            if (result) {
                setThemeFromUser()
                $goto("/acct")
            } else {
                $goto("/loginFailed")
            }
        })
    }

    let login_disabled = false
    $: login_disabled = (
        login_username.length < 1 ||
        login_password.length < 0
    )

</script>

<login>
<!--    <div class="side_spacer"></div>-->
    <NormalPanel header="Login">
        <form
                class="form_container"
                on:submit|preventDefault={handleLoginSubmit}>
            <label for="login_name">User name</label>
            <input use:focus id=login_name name="username" bind:value={login_username} class="normal_input"/>

            <label for="login_password">Password</label>
            <input id=login_password name="password" type="password" bind:value={login_password} class="normal_input" />

            <button id=login_submit type="submit" class="normal_button" disabled={login_disabled}>
                Login
                <!--{#if isLoading}Logging in...{:else}Log in 🔒{/if}-->
            </button>
            <p style="text-align: center"><InAppLink linkText="Register Account" linkTarget="./register"/></p>
        </form>
    </NormalPanel>
<!--    <div class="side_spacer"></div>-->
</login>

<style>
    login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_container button {
        margin-top: 2em;
    }

    .form_container label {
        margin-top: .5em;
    }

</style>