<script lang="ts">
    import NormalPanel from "../components/NormalPanel.svelte";
    import InAppLink from "../components/InAppLink.svelte";

</script>

<style>

    loginFailed {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

</style>

<loginFailed>
    <NormalPanel header="Login Failed">
        <p>
            Either the username or password were incorrect.
            <InAppLink linkTarget="/login" linkText="Try again."/>
        </p>
    </NormalPanel>
</loginFailed>
