<script lang="ts">
    import {debounce} from "lodash"
    import {focus} from "@roxi/routify"
    import {siteinfo} from "../stores/siteinfostore";
    import {fetchUserAvailabilty, registerUser} from "../api/userRegistration";
    import NormalPanel from "../components/NormalPanel.svelte";
    import {goto} from "@roxi/routify";

    let register_username = "";
    let register_email = "";
    let register_password = "";

    let name_notalphanum_class = false
    let name_notoneword_class = false
    let email_invalid_class = false
    let password_invalid_class = false
    let name_unavailable_noted = false

    let email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    $: email_invalid_class = (register_email.length > 0) && !register_email.match(email_regex)
    const onRegisterEmailInput = debounce(event => {
        register_email = event.target.value;
    }, 750);

    let username_alphanum_regex = /^[\w\s]+$/
    $: name_notalphanum_class = (register_username.length > 0) && !register_username.match(username_alphanum_regex)

    let username_space_regex = /^[\S]+$/
    $: name_notoneword_class = (register_username.length > 0) && !register_username.match(username_space_regex)

    $: password_invalid_class = register_password.length > 0 && (register_password.length < 8 || register_password.length > 64)

    const onRegisterUsernameInput = debounce(event => {
        register_username = event.target.value;
    }, 750);

    let name_check_promise
    $: name_check_promise = doUserAvailability(register_username)

    function doUserAvailability(name) {
        if (name.length < 1 || name_notoneword_class || name_notalphanum_class) {
            return false
        }
        //else
        return fetchUserAvailabilty(name)
    }

    function handleRegistrationSubmit() {
        let register_promise = registerUser(register_username, register_email, register_password)
        register_promise.then(result => {
            $goto(`/registerResult?success=${result}`)
        })
    }

    function noteNameUnavailable(fetchResult) {
        name_unavailable_noted = fetchResult
        return ""
    }

    let registration_disabled = false
    $: registration_disabled = (
        register_username.length < 1 ||
        register_email.length < 1 ||
        register_password.length < 0 ||
        name_notalphanum_class ||
        name_notoneword_class ||
        email_invalid_class ||
        password_invalid_class ||
        name_unavailable_noted
    )

    let registrationEnabled = false
    const unsubscribe = siteinfo.subscribe(value => {
        registrationEnabled = value["registrationType"] != "Closed Registration";
    });

</script>

<register>
    <NormalPanel header="Register Account">
        <div class="form_container">
            {#if registrationEnabled}
                <div class="horizontal_spacer"/>
                <form class="form_container" on:submit|preventDefault={handleRegistrationSubmit}>
                    <label for="register_name">User name</label>
                    <input use:focus type="text" on:input={onRegisterUsernameInput} class="normal_input" id="register_name" name="username"/>

                    <label for="register_email">Email</label>
                    <input type="text" on:input={onRegisterEmailInput} class="normal_input" id="register_email" name="email"/>

                    <label for="register_password">Password</label>
                    <input id=register_password name="password" type="password" bind:value={register_password} class="normal_input"/>

                    <button type="submit" class="normal_button" disabled={registration_disabled}>
                        Register
                        <!--{#if isLoading}Logging in...{:else}Log in 🔒{/if}-->
                    </button>
                    <ul>
                        {#await name_check_promise}
                            <li>User name must be available.</li>
                        {:then name_available}
                            {noteNameUnavailable(name_available)}
                            <li class:form_error={name_available}>User name must be available.</li>
                        {:catch e}
                            <li>User name must be available.</li>
                        {/await}
                        <li class:form_error={name_notalphanum_class}>User name must be alphanumeric.</li>
                        <li class:form_error={name_notoneword_class}>User name must have no spaces.</li>
                        <li class:form_error={email_invalid_class}>Email must be valid email address.</li>
                        <li class:form_error={password_invalid_class}>Password must be at least 8 characters.</li>
                        <li>Email is not used at present.</li>
                    </ul>
                </form>
            {:else}
                <div>
                    <p>Registrations is closed.</p>
                </div>
            {/if}
        </div>
    </NormalPanel>
</register>

<style>
    register {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_container button {
        margin-top: 2em;
    }

    .form_container label {
        margin-top: .5em;
    }

    .form_error {
        color: var(--theme-danger-color);
    }
</style>