<script lang="ts">
    import NormalPanel from "../components/NormalPanel.svelte";
    import {params} from '@roxi/routify'
    import InAppLink from "../components/InAppLink.svelte";
    import {siteinfo} from "../stores/siteinfostore";

    let moderatedRegistration = false
    const unsubscribe = siteinfo.subscribe(value => {
        moderatedRegistration = value["registrationType"] == "Moderated Registration";
    });
</script>

<style>

    registerResult {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }

</style>

<registerResult>
    <NormalPanel header="Registration Result">
        <p>
            {#if $params["success"] == "true"}
                Registration successful.
                {#if moderatedRegistration}
                    Account will need to be verified before login.
                {:else}
                    <InAppLink linkText="Login." linkTarget="/login"/>
                {/if}
            {:else}
                Registration was unsuccessful.
                Did you pay attention to the errors?
                <InAppLink linkText="Try again." linkTarget="/register"/>
            {/if}
        </p>
    </NormalPanel>

</registerResult>