<script lang="ts">
    import InPageAction from "../components/InPageAction.svelte";
    import {setAndSaveTheme} from "../common/theming";
    import NormalPanel from "../components/NormalPanel.svelte";


    function blackOnLightGreyTheme() {
        setAndSaveTheme("theme_black_on_light_grey");
    }

    function blackOnWhiteTheme() {
        setAndSaveTheme("theme_black_on_white");
    }

    function blackOnWhiteWithRedTheme() {
        setAndSaveTheme("theme_black_on_white_with_red");
    }

    function blackOnWhiteWithGreenTheme() {
        setAndSaveTheme("theme_black_on_white_with_green");
    }

    function greenOnBlackTheme() {
        setAndSaveTheme("theme_green_on_black");
    }

    function greenOnBlackWithAmberTheme() {
        setAndSaveTheme("theme_green_on_black_with_amber");
    }

    function whiteOnBlueTheme() {
        setAndSaveTheme("theme_white_on_blue");
    }

    function whiteOnBlueWithGreenTheme() {
        setAndSaveTheme("theme_white_on_blue_with_green");
    }

    function amberOnBlackTheme() {
        setAndSaveTheme("theme_amber_on_black");
    }

    function amberOnBlackWithBlueTheme() {
        setAndSaveTheme("theme_amber_on_black_with_blue");
    }

    function blueOnWhiteTheme() {
        setAndSaveTheme("theme_blue_on_white");
    }

    function blueOnBlackTheme() {
        setAndSaveTheme("theme_blue_on_black");
    }

    function tandy400Theme() {
        setAndSaveTheme("theme_tandy_400");
    }

    function ubuntuTheme() {
        setAndSaveTheme("theme_ubuntu");
    }
</script>

<themes class="main_panel">
    <p>
        Themes change colors and other visual aspects related to fonts.
        Picking a theme is a matter of personal preference.
        Click on a link below to select a theme.
        Themes are saved as a preference once selected.
    </p>
    <NormalPanel header="Light Themes">
        <ul>
            <li><InPageAction actionText="Black on Light Grey" action={blackOnLightGreyTheme}/></li>
            <li><InPageAction actionText="Black on White" action={blackOnWhiteTheme}/></li>
            <li><InPageAction actionText="Black on White With Red" action={blackOnWhiteWithRedTheme}/></li>
            <li><InPageAction actionText="Black on White With Green" action={blackOnWhiteWithGreenTheme}/></li>
        </ul>
    </NormalPanel>
    <NormalPanel header="Dark Themes">
        <ul>
            <li><InPageAction actionText="Green on Black" action={greenOnBlackTheme}/></li>
            <li><InPageAction actionText="White On Blue" action={whiteOnBlueTheme}/></li>
            <li><InPageAction actionText="Amber on Black" action={amberOnBlackTheme}/></li>
            <li><InPageAction actionText="Blue on Black" action={blueOnBlackTheme}/></li>
            <li><InPageAction actionText="White On Blue With Green" action={whiteOnBlueWithGreenTheme}/></li>
            <li><InPageAction actionText="Amber on Black With Blue" action={amberOnBlackWithBlueTheme}/></li>
            <li><InPageAction actionText="Green on Black With Amber" action={greenOnBlackWithAmberTheme}/></li>
        </ul>
    </NormalPanel>
    <NormalPanel header="Other Themes">
        <ul>
            <li><InPageAction actionText="Tandy 400" action={tandy400Theme}/></li>
            <li><InPageAction actionText="Ubuntu-ish" action={ubuntuTheme}/></li>
        </ul>
    </NormalPanel>
    <p class="example_monospace">
        This is an example of monospace text. -- Bengal. Singapura manx and russian blue bobcat for scottish fold but
        tabby yet bobcat. Lynx leopard tom so munchkin but british shorthair for lynx. Malkin bobcat and bengal.
        Mouser. Cornish rex british shorthair panther. Havana brown cornish rex, yet donskoy donskoy. Devonshire rex
        manx for american shorthair or turkish angora himalayan but persian.
    </p>
    <p>
        This is an example of normal text. -- Ocicat bombay or american shorthair for ragdoll. Savannah burmese for
        mouser and panther or tabby leopard for ocicat. Grimalkin. Panther. Cheetah mouser. Grimalkin cougar yet
        siberian so havana brown leopard, yet ragdoll and donskoy. Kitten bombay. Devonshire rex bobcat or russian blue
        singapura. Balinese lynx.
    </p>
    <p class="info_text">
        This is an example of information text.
    </p>
    <p class="action_text">
        This is an example of action text (indicating to click on something).
    </p>
    <p class="warn_text">
        This is an example of warning text.
    </p>
    <p class="danger_text">
        This is an example danger text.
    </p>
    <p>
        This is an example of a table:
    </p>
    <table class="table_example">
        <tr><td>Key 1</td><td>Value 1</td></tr>
        <tr><td>Key 2</td><td>Value 2</td></tr>
        <tr><td>Key 3</td><td>Value 3</td></tr>
        <tr><td>Key 4</td><td>Value 4</td></tr>
    </table>
</themes>

<style>

    .example_monospace {
        font-family: var(--theme-monospace-font-family);
        font-size: var(--theme-monospace-font-size);
        font-weight: var(--theme-monospace-font-weight);
    }

    .info_text {
        color: var(--theme-info-color);
    }

    .action_text {
        color: var(--theme-action-color);
    }

    .warn_text {
        color: var(--theme-warn-color);
    }

    .danger_text {
        color: var(--theme-danger-color);
    }

    .table_example {
        border-top-style: solid;
        border-top-width: thin;
        width: 50%;
    }

    tr:nth-child(even) {
        background-color: var(--theme-alt-background-color);
    }

    td:nth-child(even) {
        border-left-style: dashed;
        border-left-width: thin;
        padding-left: .25em;
    }

</style>