<script lang="ts">
    import NormalPanel from "../NormalPanel.svelte";
    import marked from "marked"
    import {focus} from "@roxi/routify"

    let markdown = "# Example Title\n\n- this\n- is\n- a list"

    export function getHtml() : string {
        return marked(markdown)
    }
</script>

<style>

    mdeditor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 1em;
        row-gap: 1em;
        margin: 1em;
        /*height: 100%;*/
    }

    mdeditor div {
        flex-basis: 100%;
    }

    .preview {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .textarea {
        height: 100%;
        width: 100%;
        color: var(--theme-primary-color);
        background-color: var(--theme-background-color);
        border: 0;
        caret-color: var(--theme-action-color);
        caret-shape: underscore;
    }

    @media screen and (orientation: portrait), (max-width: 1100px) {
        mdeditor {
            flex-direction: column;
            justify-content: space-around;
            column-gap: .5em;
            row-gap: .5em;
            margin: .5em;
        }
    }

</style>

<mdeditor>

    <div class="markdown_panel">
        <NormalPanel header="Markdown" border=true panel_100_height=true>
            <textarea
                    use:focus
                    bind:value={markdown}
                    placeholder="Enter markdown here"
                    class="textarea"/>
        </NormalPanel>
    </div>
    <div class="preview_panel">
        <NormalPanel header="Preview" border=true>
            <div class="preview">{@html marked(markdown)}</div>
        </NormalPanel>
    </div>

</mdeditor>