<script lang="ts">

    import {actorUrl} from "../common/actorUrl";
    import {siteinfo} from "../stores/siteinfostore";
    import {SITE_AP_PERSON_BASE_URL} from "../api/siteInfo";
    import {ActorInfo} from "../api/actors";

    export let showBanner: boolean = false
    export let actorInfo: ActorInfo
    export let extendedSummary: boolean = false

    function getActorUrl(actorId): string {
        return actorUrl(actorId, $siteinfo[SITE_AP_PERSON_BASE_URL])
    }

    function displayName(a: ActorInfo): string {
        let retval = a.activityPubJson.preferredUsername
        if (a.activityPubJson.name) {
            retval = a.activityPubJson.name
        }
        //else
        return retval
    }
</script>

<style>

    .card {
        display: flex;
        flex-direction: column;
        border: var(--theme-primary-color);
        border-style: solid;
        border-width: thin;
        max-width: 355px;
        width: 355px;
        border-radius: .20em;
        background-color: var(--theme-background-color);
    }

    .banner {
        overflow: hidden;
        width: 100%;
    }

    .banner img {
        width: 355px;
        object-fit: cover;
        border-bottom-style: solid;
        border-bottom-color: var(--theme-primary-color);
        border-bottom-width: thin;
        line-height: 0;
    }

    .iconContainer img {
        width: 50px;
        height: 50px;
        margin: .35em;
        border-radius: .20em;
        line-height: 0;
    }

    .summaryContainer {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .extendedSummary {
        -webkit-line-clamp: 8;
    }

    .summaryContainer p {
        padding: .25em;
        margin: 0;
    }

    .punContainer {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .25em;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .punIconContainer {
        display: flex;
        flex-direction: row;
        border-bottom-style: solid;
        border-bottom-color: var(--theme-primary-color);
        border-bottom-width: thin;
    }

    .infoText {
        color: var(--theme-info-color);
        font-size: small;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .pun {
        font-family: var(--theme-panel-header-font-family);
        font-weight: var(--theme-panel-header-font-weight);
        font-size: x-large;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .punLink {
        text-decoration: underline;
        color: var(--theme-action-color);
    }

</style>

<div class="card">

    {#if showBanner && actorInfo.activityPubJson.image}
        <div class="banner"><img src={actorInfo.activityPubJson.image.url} alt={actorInfo.activityPubJson.image.name}/></div>
    {/if}
    <div class="punIconContainer">
        {#if actorInfo.activityPubJson.icon}
            <div class="iconContainer">
                <img src={actorInfo.activityPubJson.icon.url}
                     alt={actorInfo.activityPubJson.icon.name}/>
            </div>
        {/if}
        <div class="punContainer">
            <span class="pun"><a class="punLink" href={getActorUrl(actorInfo.activityPubJson.id)}>{displayName(actorInfo)}</a></span>
            {#if actorInfo.webfingerJson}
                <span class="infoText">{actorInfo.webfingerJson.subject}</span>
            {/if}
        </div>
    </div>
    <div class="summaryContainer" class:extendedSummary>
        {#if actorInfo.activityPubJson.summary}
        <p>
            {@html actorInfo.activityPubJson.summary}
        </p>
        {/if}
    </div>

</div>