<script lang="ts">

</script>

<style>

    .apb-logo {
        width: 50px;
        height: 50px;
    }

    .logo-border {
        fill: var(--theme-primary-color);
        stroke: var(--theme-background-color);
    }

    .logo-color-action {
        stroke: var(--theme-action-color);
        fill: var(--theme-primary-color);
    }

    .logo-color-primary {
        stroke: var(--theme-background-color);
        fill: var(--theme-primary-color);
    }

    apbLogos {
        position: relative;
        top: 4px;
    }

</style>

<apbLogos>
    <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="133.26295mm"
            height="94.757332mm"
            viewBox="0 0 133.26295 94.757332"
            version="1.1"
            id="svg8"
            class="apb-logo"
            inkscape:version="1.0.2 (394de47547, 2021-03-26)"
            sodipodi:docname="apb-logo1.svg">
        <defs
                id="defs2" />
        <sodipodi:namedview
                id="base"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageopacity="0.0"
                inkscape:pageshadow="2"
                inkscape:zoom="1.1729861"
                inkscape:cx="320.4554"
                inkscape:cy="336.57832"
                inkscape:document-units="mm"
                inkscape:current-layer="layer1"
                inkscape:document-rotation="0"
                showgrid="false"
                inkscape:window-width="1515"
                inkscape:window-height="1199"
                inkscape:window-x="690"
                inkscape:window-y="108"
                inkscape:window-maximized="0" />
        <metadata
                id="metadata5">
            <rdf:RDF>
                <cc:Work
                        rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(-20.212842,-59.113652)">
            <rect
                    style="stroke-width:3.76499;stroke-linejoin:round;image-rendering:auto"
                    id="rect833"
                    width="129.49797"
                    height="90.99234"
                    x="22.095337"
                    y="60.996147"
                    ry="4.9131541"
                    class="logo-border" />
            <path
                    style="stroke-width:4.91396;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 33.871577,116.84568 76.98863,70.043132"
                    id="path839"
                    class="logo-color-action" />
            <path
                    style="stroke-width:7.30413;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 37.164318,140.93297 101.27819,71.392271"
                    id="path854"
                    class="logo-color-action" />
            <path
                    style="stroke-width:7.38753;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 64.569415,143.3627 129.39139,73.00204"
                    id="path856"
                    class="logo-color-primary" />
            <path
                    style="stroke-width:5.58259;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 90.885366,143.64697 140.05432,90.676453"
                    id="path858"
                    class="logo-color-primary" />
            <path
                    style="stroke-width:3.04679;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 116.90006,142.91526 26.55086,-29.21867"
                    id="path860"
                    class="logo-color-action" />
            <path
                    style="stroke-width:2.88811;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 31.313973,97.123117 57.070038,70.188029"
                    id="path862"
                    class="logo-color-primary" />
        </g>
    </svg>


</apbLogos>