<script lang="ts">
    import {url} from "@roxi/routify"

    export let linkText: string
    export let linkTarget: string
    export let disabled: boolean
    export let siteBarTheme: boolean

</script>

{#if disabled == true}
    <span class="inpage_action_disabled">{linkText}</span>
{:else}
    <a class="inpage_action" class:siteBarTheme href="{$url(linkTarget)}">{linkText}</a>
{/if}

<style>

    .inpage_action {
		color: var(--theme-action-color);
        text-decoration: underline;
		cursor: pointer;
        font-family: var(--theme-monospace-font-family);
        font-weight: var(--theme-monospace-font-weight);
        font-size: var(--theme-monospace-font-size);
    }

    .inpage_action_disabled {
        color: var(--theme-disabled-color);
        text-decoration: underline;
        cursor: pointer;
        font-family: var(--theme-monospace-font-family);
        font-weight: var(--theme-monospace-font-weight);
        font-size: var(--theme-monospace-font-size);
    }

    .siteBarTheme {
        color: var(--theme-site-name-action-color);
    }

</style>