<script lang="ts">

    export let header : String
    export let border : boolean = false

</script>

<style>

    .panel_container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .panel_container_border {
        border-width: thin;
        border-style: solid;
        border-radius: .20em;
        border-color: var(--theme-info-color)
    }

    .content {
        height: 100%;
        overflow: auto;
    }

    .content_border {
        padding-top: .5em;
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
    }

    .header_panel {
        border-bottom-style: dashed;
        border-bottom-width: thin;
        color: var(--theme-info-color);
        font-family: var(--theme-panel-header-font-family);
        font-weight: var(--theme-panel-header-font-weight);
        font-size: var(--theme-panel-header-font-size);
    }

    .header_panel p {
        text-align: center;
        padding-left: .5em;
        padding-right: .5em;
        padding-top: .25em;
        padding-bottom: .25em;
        margin: 0;
    }

    @media screen and (orientation: portrait), (max-width: 1100px) {

        .content_border {
            padding-top: .25em;
            padding-left: .25em;
            padding-right: .25em;
            padding-bottom: .25em;
        }

        .header_panel p {
            padding-left: .25em;
            padding-right: .25em;
            padding-top: .12em;
            padding-bottom: .12em;
            margin: 0;
        }
    }
</style>

<div class="panel_container" class:panel_container_border={border}>
    {#if header}
        <div class="header_panel">
            <p>{header}</p>
        </div>
    {/if}
    <div class="content" class:content_border={border}>
        <slot/>
    </div>
</div>
