<script lang="ts">

    export let actionText: string;

    export let action: () => void;

    export let siteBarTheme: boolean

    export let dataCy: string = "inpage_action"

</script>

<span class="inpage_action" class:siteBarTheme on:click={action} data-cy="{dataCy}">{actionText}</span>

<style>

    .inpage_action {
		color: var(--theme-action-color);
		cursor: pointer;
        text-decoration: underline;
        font-family: var(--theme-monospace-font-family);
        font-weight: var(--theme-monospace-font-weight);
        font-size: var(--theme-monospace-font-size);
    }

    .siteBarTheme {
        color: var(--theme-site-name-action-color);
    }

</style>