<script lang="ts">
    import MainNavMenu from "./MainNavMenu.svelte";
    import ActionPanel from "./ActionPanel.svelte";

</script>

<style>

   .left_nav_container {
      display: flex;
      flex-direction: column;
      padding: 1em;
   }


   @media screen and (orientation: portrait), (max-width: 1100px) {

       .left_nav_container {
           visibility: hidden;
           font-size: 0;
           display: none;
       }

   }
</style>

<div class="left_nav_container">
    <ActionPanel header="Main Menu" border="true">
        <MainNavMenu/>
    </ActionPanel>
</div>