<script lang="ts">
    import InAppLink from "./InAppLink.svelte";
    import {siteinfo} from "../stores/siteinfostore";
    import {userinfo} from "../stores/userinfostore";
    import {logout} from "../api/userRegistration";
    import {goto} from "@roxi/routify";
    import InPageAction from "./InPageAction.svelte";
    import {SITE_REGISTRATION_ENABLED, SITE_SHORT_NAME} from "../api/siteInfo";

    export let siteBarTheme: boolean

    let shortName = "apb"
    let registrationEnabled = true
    siteinfo.subscribe(value => {
        shortName = value[SITE_SHORT_NAME]
        registrationEnabled = value[SITE_REGISTRATION_ENABLED]
    })

    async function doLogout() {
        await logout()
        $goto("/login")
    }
</script>

<style>

</style>

<div>
    <p><InAppLink linkTarget="/" linkText="Home" siteBarTheme={siteBarTheme}/></p>
    <p><InAppLink linkTarget="/about" linkText="About {shortName}" siteBarTheme={siteBarTheme}/></p>
    <p><InAppLink linkTarget="/themes" linkText="Themes" siteBarTheme={siteBarTheme}/></p>
    {#if $userinfo}
        <p><InAppLink linkTarget="/acct" linkText="Account" siteBarTheme={siteBarTheme}/></p>
        <InPageAction actionText="Logout" action="{doLogout}" siteBarTheme={siteBarTheme} dataCy="logout"/>
    {:else}
        <p><InAppLink linkTarget="/login" linkText="Login" siteBarTheme={siteBarTheme}/></p>
        <p><InAppLink linkTarget="/register" linkText="Register"  siteBarTheme={siteBarTheme} disabled="{!registrationEnabled}"/></p>
    {/if}
</div>