<script lang="ts">

    import {getPostable} from "../api/postables";
    import {imageUrls} from "../common/imageUrls";
    import ResponsiveText from "./ResponsiveText.svelte";
    import ResponsiveDate from "./ResponsiveDate.svelte";

    export let poastableId

    let postablePromise = getPostable(poastableId)

</script>

<style>

    .postable {
        display: flex;
        flex-direction: column;
    }

    .postableHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .postableHeaderInfo {
        display: flex;
        flex-direction: column;
    }

    .icon {
        border-width: medium;
        border-style: solid;
        border-radius: .20em;
        width: 100px;
        height: 100px;
        margin-right: .5em;
    }

    .actorId {
        color: var(--theme-info-color);
    }

    .postableText {
        margin-top: 1em;
        padding-top: 1em;
        border-top-width: thin;
        border-top-style: solid;
    }

    .postableImages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .postableImage {
        border-width: thin;
        border-style: solid;
        border-radius: .20em;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: .5em;
    }

</style>

<div class="postable">
    {#await postablePromise}
    <div class="waiting">
        <div><p>Loading {poastableId}...</p></div>
    </div>
    {:then postableResponse}
        <div class="postableHeader">
            <div class="actorIcon">
                {#if postableResponse.actor.activityPubJson.icon}
                    <img src={postableResponse.actor.activityPubJson.icon.url}
                         class="icon"
                         alt={postableResponse.actor.activityPubJson.icon.name}/>
                {/if}
            </div>
            <div class="postableHeaderInfo">
                <div class="preferredUsername">
                    {postableResponse.actor.activityPubJson.preferredUsername}
                </div>
                <div class="actorId">
                    {#if postableResponse.actorAcct}
                        <ResponsiveText long="WebFinger Acct" short="WF ACCT"/>: {postableResponse.actor.acct}<br/>
                    {/if}
                    <ResponsiveText long="ActivityPub ID" short="AP ID"/>: {postableResponse.actor.activityPubJson.id}
                </div>
                <div class="postableCreatedAt">
                    <ResponsiveText long="Published: " short=""/><ResponsiveDate date={postableResponse.postable.activityPubJson.published}/>
                </div>
            </div>
        </div>
        <div class="postableText">
            {@html postableResponse.postable.activityPubJson.content}
        </div>
        <div class="postableImages">
            {#each imageUrls(postableResponse.postable.activityPubJson) as imageUrl}
                <img src={imageUrl.url}
                     class="postableImage"
                     alt={imageUrl.name}
                />
            {/each}
        </div>
    {:catch error}
        <div class="error">
            <div><p>No Joy!</p></div>
            <div><p>Cannot fetch {poastableId}</p></div>
            <div><p>{error}</p></div>
        </div>
    {/await}
</div>