<script lang="ts">

    export let short
    export let long

</script>

<style>

    .responsiveText {
        display: inline;
    }

    .short {
        display: none;
    }

    .long {
        display: inline;
    }


    @media screen and (orientation: portrait), (max-width: 1100px) {
        .short {
            display: inline;
        }

        .long {
            display: none;
        }
    }
</style>

<div class="responsiveText">
    <span class="short">{short}</span><span class="long">{long}</span>
</div>