<script lang="ts">

    export let date: string
    let _date: Date

    function longDate() : string {
        if (date) {
            return toDate().toString()
        }
        //else
        return ""
    }

    function shortDate(): string {
        if (date) {
            return toDate().toLocaleString()
        }
        //else
        return ""
    }

    function toDate(): Date {
        if (!_date) {
            _date = new Date(date)
        }
        return _date
    }

</script>

<style>

    .responsiveText {
        display: inline;
    }

    .short {
        display: none;
    }

    .long {
        display: inline;
    }


    @media screen and (orientation: portrait), (max-width: 1100px) {
        .short {
            display: inline;
        }

        .long {
            display: none;
        }
    }
</style>

<div class="responsiveText">
    <span class="short">{shortDate()}</span><span class="long">{longDate()}</span>
</div>