<script lang="ts">
   import ApbLogos from "./ApbLogos.svelte";
   import {siteinfo} from "../stores/siteinfostore";
   import {userinfo} from "../stores/userinfostore";
   import {url} from "@roxi/routify"
   import MainNavMenu from "./MainNavMenu.svelte";
   import {SITE_LONG_NAME, SITE_SHORT_NAME} from "../api/siteInfo";

   // this is only use for "mobile"
   let showNavActions = false;

   // called from the hamburger icon
   function flipShowNavActions() {
      showNavActions = !showNavActions;
      console.log(`action is ${showNavActions}`)
   }

   let shortName = "apb"
   let longName = "activity pub bbs"
   siteinfo.subscribe(value => {
      shortName = value[SITE_SHORT_NAME]
      longName = value[SITE_LONG_NAME]
   })

</script>

<style>

   .siteBarNav {
      display: flex;
      flex-direction: column;
   }

   siteBar {
      background-color: var(--theme-site-name-background-color);
      color: var(--theme-site-name-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
   }

   siteName {
      font-size: var(--theme-site-name-font-size);
      font-family: var(--theme-site-name-font-family);
      font-weight: var(--theme-site-name-font-weight);
      text-align: center;
      margin-left: .20em;
   }

   .shortName {
      display: none;
   }

   .longName {
      display: inline;
   }

   hamburger {
      visibility: hidden;
      font-size: 0;
      display: none;
   }

   .logoNameGroup {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   .userInfo a {
      color: var(--theme-site-name-action-color);
      font-family: 'Roboto', monospace;
      font-weight: 700;
      font-size: large;
      text-decoration: underline;
   }

   .navActions {
      display: none;
      visibility: hidden;
   }

   @media screen and (orientation: portrait), (max-width: 1100px) {
      siteBar {
         justify-content: space-between;
         padding-left: .5em;
         padding-right: .5em;
      }

      hamburger {
         visibility: visible;
         font-size: var(--theme-site-name-font-size);
      }

      .shortName {
         display: inline;
      }

      .longName {
         display: none;
      }

      hamburger {
         visibility: visible;
         font-size: var(--theme-site-name-font-size);
         display: block;
      }

      .logoNameGroup {
         justify-content: flex-end;
      }

      .userInfo {
         display: none;
         visibility: hidden;
      }

      .showNavActions {
         font-size: large;
         visibility: visible;
         display: flex;
         flex-direction: column;
      }

      .navActions {
         background-color: var(--theme-site-name-background-color);
         padding-top: 0em;
         padding-right: 1em;
         padding-left: 1em;
         padding-bottom: 1em;
         color: var(--theme-site-name-action-color);
         font-family: 'Roboto', monospace;
         font-weight: 700;
         text-decoration: underline;
      }
   }

</style>

<div class="siteBarNav">
   <siteBar>
      <hamburger on:click={flipShowNavActions}>&#9776;</hamburger>
      <div class="logoNameGroup">
         <ApbLogos/>
         <siteName>
            <div class="shortName">
               {shortName}
            </div>
            <div class="longName">
               {longName}
            </div>
         </siteName>
      </div>
      <div class="userInfo">
         {#if $userinfo}
            <a href={$url('/acct')}>{$userinfo.name}</a>
         {:else}
            <a href={$url('/login')}>(Not Logged In)</a>
         {/if}
      </div>
   </siteBar>
   <div class="navActions" class:showNavActions={showNavActions} on:click={flipShowNavActions}>
      <MainNavMenu siteBarTheme={true}/>
   </div>
</div>