<script lang="ts">

    let text = "-----"
    let index = 0

    setInterval(()=>{
        text = text.substring(0, index) + "#" + text.substring(index+1)
        index = index + 1
        if (index > 5) {
            index = 0
            text = "-----"
        }
    }, 150)

</script>

<style>

    .waiting {
        font-family: var(--theme-monospace-font-family);
    }

</style>

<span class="waiting">{text}</span>